.navbar {
  display: flex;
  justify-content: space-between;
  background: #160801e3;
  text-decoration: none;
  padding: 50px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
ol {
  list-style-type: none;
}
ul {
  list-style-type: none;
}
